<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/scanstyle.css' />


  </head>
  <body>
 </body>
 <script src="/bundled/visuals.js"></script>
</html>
